h1 {
    text-align: center;
    color: grey;
    font-family: sans-serif;
    font-size: bold;
}

#input1 {
    width: 130px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 40px;
}

#input1 {
    transition: width 0.4s ease-in-out;
}

#input1:focus {
    width:100%
}

.box {
    height: auto;
    width: auto;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-icons {
    width:100%;
    margin-bottom: 10px;
}

.input-icons i {
    position:absolute;
}

.icon {
    padding: 10px;
    min-width: 40px;
}
 