h1 {
    text-align: center;
    color: grey;
    font-family: sans-serif;
    font-size: bold;
}

#input1 {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-color: black;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
}

.box {
    height: auto;
    width: auto;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}